coverage
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache
doc
spec-results
features_report.html
config/config.yml
config/deploy
config/deploy.rb
config/database.yml
config/initializers/secret_token.rb
old_cap/deploy.rb
public/assets/*
.redcar
*~
