[submodule "vendor/plugins/javascript_test"]
	path = vendor/plugins/javascript_test
	url = git://github.com/rails/javascript_test.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/hcatlin/make_resourceful.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git

