%p&= _('You have administrative permissions on the following calendars:')
%ul
  - @calendars.each do |c|
    %li[c]
      &= c
      !== (#{[link_to(_('properties'), :controller => :calendars, :id => c.id, :action => :edit), link_to(_('users'), :controller => :calendars, :id => c.id, :action => :users)].join(' | ')})
