!title_blue = #3333ff

// size of icons from Silk set
!silk_icon_size = 16px

// margin around icons
!icon_margin = 3px

body
  :color black
  :font
    :size 12px
    :family Helvetica, Arial, Geneva, sans-serif
  :background-color white
  :margin 0px
  
  
.name
  :color red
  :font-weight bolder
  
.hidden
  :display none

.siteName
  :color #00c
  :font
    :style oblique
    :weight bolder
    :size 116%
.footer
  :border-top 1px solid black
  :padding-top 2px
  
#navbar
  :color white
  :background-color = !title_blue
  :margin
    :top 0px
    :left 0px
    :right 0px
  :padding .25em
  *
    :color inherit
#navbar a, th a
  :color inherit
  :font-weight bolder
  &:hover
    :background-color white
    :color = !title_blue
    
#content
  :margin .5em

td
  :background-color #ccc
th
  :background-color = !title_blue
  :color white

.hint
  :font
    :size 90%
    :weight lighter

span.yes
  :color #0f0
  :font-weight bolder
span.no
  :font-weight bolder
  :color #f00
span.maybe
  :color #ff0
  :font-weight bolder

!circle_size = 12px
!green_circle_url = "url('../images/circle_0f0.png')"
!red_circle_url = "url('../images/circle_f00.png')"
!yellow_circle_url = "url('../images/circle_ff0.png')"
td.yes p
  :background-image = !green_circle_url
td.no p
  :background-image = !red_circle_url
td.maybe p
  :background-image = !yellow_circle_url
td.yes, td.no, td.maybe
  :background-color black
  :color white
  p
    :padding-left = !circle_size + !icon_margin
    :background-repeat no-repeat

td.actions
  :background-color transparent
  :font-size 90%
  :min-width 6em
  a
    :display inline-block
    :background-repeat no-repeat

    
// Toolbar links with icons

!edit_icon_url = "url('../images/pencil.png')"
!edit_icon_size = !silk_icon_size

a.edit
  :background-image = !edit_icon_url
  :min-height = !edit_icon_size + !icon_margin
  :padding-left = !edit_icon_size + !icon_margin

!delete_icon_url = "url('../images/cross.png')"
!delete_icon_size = !silk_icon_size

a.delete
  :background-image = !delete_icon_url
  :min-height = !delete_icon_size + !icon_margin
  :padding-left = !delete_icon_size + !icon_margin

!ical_icon_url = "url('../images/date.png')"
!ical_icon_size = !silk_icon_size

a.ical
  :background-image = !ical_icon_url
  :min-height = !ical_icon_size + !icon_margin
  :padding-left = !ical_icon_size + !icon_margin

!map_icon_url = "url('../images/map.png')"
!map_icon_size = !silk_icon_size

a.map
  :background-image = !map_icon_url
  :min-height = !map_icon_size + !icon_margin
  :padding-left = !map_icon_size + !icon_margin

!subscribe_icon_url = "url('../images/add.png')"
!subscribe_icon_size = !silk_icon_size

a.subscribe
  :background-image = !subscribe_icon_url
  :min-height = !subscribe_icon_size + !icon_margin
  :padding-left = !subscribe_icon_size + !icon_margin

!unsubscribe_icon_url = "url('../images/delete.png')"
!unsubscribe_icon_size = !silk_icon_size

a.unsubscribe
  :background-image = !unsubscribe_icon_url
  :min-height = !unsubscribe_icon_size + !icon_margin
  :padding-left = !unsubscribe_icon_size + !icon_margin

// Other links with icons

!rss_icon_url = "url('../images/feed-icon-14x14.png')"
!rss_icon_size = 14px
  
.rss
  :font-size 90%
  :background
    :repeat no-repeat
    :image = !rss_icon_url
  :min-height = !rss_icon_size
  :padding-left = !rss_icon_size + !icon_margin

.url
  :font-weight bolder
  
!pdf_icon_url = "url('../images/pdf-icon-16x16.png')"
!pdf_icon_size = 16px

.pdf
  :background
    :repeat no-repeat
    :image = !pdf_icon_url
  :min-height = !pdf_icon_size
  :padding-left = !pdf_icon_size + !icon_margin


.fieldWithErrors
  :background-color red
  input
    :background-color #fcc
    :color black

!notice_icon_url = "url('../images/accept.png')"
!warning_icon_url = "url('../images/star.png')"
!error_icon_url = "url('../images/exclamation.png')"
#flash
  :background
    :position 2px 2px
    :repeat no-repeat
  :min-height = !silk_icon_size + 4px
  :min-width = !silk_icon_size + 4px
  :padding-left = !silk_icon_size + !icon_margin
  &.notice
    :background-image = !notice_icon_url
    :background-color #cfc
  &.warning
    :background-image = !warning_icon_url
    :background-color #ffc
  &.error
    :background-image = !error_icon_url
    :background-color #fcc
  p
    :padding 0.25em

/* Some hCalendar properties...
abbr
  :text-decoration inherit
.uid
  :display none
