!title_blue = #3333ff

// margin around icons
!icon_margin = 3px

body
  :color black
  :font
    :size 12px
    :family Helvetica, Arial, Geneva, sans-serif
  :background-color white
  :margin 0px
  
  
.name
  :color red
  :font-weight bolder
  
.hidden
  :display none

.siteName
  :color #00c
  :font
    :style oblique
    :weight bolder
    :size 116%
.footer
  :border-top 1px solid black
  :padding-top 2px
  
#navbar
  :color white
  :background-color = !title_blue
  :margin
    :top 0px
    :left 0px
    :right 0px
  :padding .25em
  *
    :color inherit
  a
    :font-weight bolder
    &:hover
      :background-color white
      :color = !title_blue
    
#content
  :margin .5em

td
  :background-color #ccc
th, th a.sort
  :background-color = !title_blue
  :color white

.map
  :font-size 90%
.hint
  :font
    :size 90%
    :weight lighter

span.yes
  :color #0f0
  :font-weight bolder
span.no
  :font-weight bolder
  :color #f00
span.maybe
  :color #ff0
  :font-weight bolder

td.yes, td.no, td.maybe
  :background-color black
  :color white

td.actions
  :background-color transparent
  :font-size 90%
  a
    :display inline-block
    :background-repeat no-repeat
  
!edit_icon_url = "url('../images/pencil.png')"
!edit_icon_size = 16px

a.edit
  :background-image = !edit_icon_url
  :min-height = !edit_icon_size + !icon_margin
  :padding-left = !edit_icon_size + !icon_margin

!delete_icon_url = "url('../images/cross.png')"
!delete_icon_size = 16px

a.delete
  :background-image = !delete_icon_url
  :min-height = !delete_icon_size + !icon_margin
  :padding-left = !delete_icon_size + !icon_margin

!ical_icon_url = "url('../images/date.png')"
!ical_icon_size = 16px

a.ical
  :background-image = !ical_icon_url
  :min-height = !ical_icon_size + !icon_margin
  :padding-left = !ical_icon_size + !icon_margin


!rss_icon_url = "url('../images/feed-icon-14x14.png')"
!rss_icon_size = 14px
  
.rss
  :font-size 90%
  :background
    :repeat no-repeat
    :image = !rss_icon_url
  :min-height = !rss_icon_size
  :padding-left = !rss_icon_size + !icon_margin

.url
  :font-weight bolder
  
!pdf_icon_url = "url('../images/pdf-icon-16x16.png')"
!pdf_icon_size = 16px

.pdf
  :background
    :repeat no-repeat
    :image = !pdf_icon_url
  :min-height = !pdf_icon_size
  :padding-left = !pdf_icon_size + !icon_margin


.fieldWithErrors
  :background-color red
  input
    :background-color #fcc
    :color black

.flash_notice
  :background-color #cfc
.flash_warning
  :background-color #ffc
.flash_error
  :background-color #fcc

/* Some hCalendar properties...
abbr
  :text-decoration inherit
.uid
  :display none
