<table class="users">
  <tr>
    <th><%= h(_('Name')) %></th>
    <th><%= h(_('Address')) %></th>
  </tr>
  <% for user in @users do -%>
    <tr>
      <%= content_tag(:td, h([user.lastname, user.firstname].compact.join(', '))) %>
      <%= content_tag(:td, [user.street, user.street2, "#{user.city}, #{user.state.code} #{user.zip}, #{user.state.country.code}"].compact.collect {|s| h(s)}.join(tag :br)) %>
    </tr>
  <% end -%>
</table>