- content_for :javascript do
  = javascript_include_tag :defaults, 'lowpro/lowpro', 'events/index'
%table.events
  = render :partial => 'table_header', :locals => {:sortlinks => false}
  = render :partial => 'event', :locals => {:event => @event}
